html{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    background-color: #fff4d6;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    color: #00539F;
    text-shadow: 3px 3px 10px black;
}

img {
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: aquamarine;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}